---
import Layout from './Layout.astro';
import { format } from 'date-fns';

interface Props {
  title: string;
  description: string;
  pubDate: Date;
  updatedDate?: Date;
}

const { title, description, pubDate, updatedDate } = Astro.props;
---

<Layout title={title} description={description}>
  <article class="prose lg:prose-xl dark:prose-invert mx-auto">
    <header class="mb-8">
      <h1 class="mb-2">{title}</h1>
      <div class="text-gray-600 dark:text-gray-400">
        <time datetime={pubDate.toISOString()}>
          {format(pubDate, 'MMMM d, yyyy')}
        </time>
        {
          updatedDate && (
            <span>
              {' '}
              (Updated on{' '}
              <time datetime={updatedDate.toISOString()}>
                {format(updatedDate, 'MMMM d, yyyy')}
              </time>
              )
            </span>
          )
        }
      </div>
    </header>
    <slot />
  </article>
</Layout>